# Copyright (c) 2024 GP Orcullo
# SPDX-License-Identifier: Apache-2.0

config SOC_SERIES_SOPHGO
	bool "Sophgo SoCs"
	select 64BIT
	select RISCV
	select RISCV_PRIVILEGED
    select RISCV_HAS_PLIC
	select SOC_FAMILY_SOPHGO
	help
	  Enable support for Sophgo SoCs
