# Copyright (c) 2024 GP Orcullo
# SPDX-License-Identifier: Apache-2.0

choice
	prompt "Sophgo SoCs"
	depends on SOC_SERIES_SOPHGO

config SOC_CV1800B_LITTLE
	bool "CV1800b secondary processor"
	select ATOMIC_OPERATIONS_BUILTIN
	select CPU_HAS_FPU_DOUBLE_PRECISION
	select INCLUDE_RESET_VECTOR
	select RISCV_ISA_RV64I
	select RISCV_ISA_EXT_M
	select RISCV_ISA_EXT_A
	select RISCV_ISA_EXT_C
	select RISCV_ISA_EXT_ZICSR
	select RISCV_ISA_EXT_ZIFENCEI

endchoice
