# Copyright (c) 2024 GP Orcullo
# SPDX-License-Identifier: Apache-2.0

config SOC_FAMILY_SOPHGO
	bool

if SOC_FAMILY_SOPHGO

config SOC_FAMILY
	string
	default "sophgo"

rsource "*/Kconfig.soc"

endif # SOC_FAMILY_SOPHGO
